.AllTasks{
  display: flex;
  align-items: center;
  flex-direction: column;
  min-height: 100vh;
  max-height: 1000vh;
}

.EmptyStateImage{
    margin-left: 90px;
}
.EmptyStateDiv{
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-top: 140px;
}
.Nothing{
    font-size: xx-large;
    font-weight: 800;
    color: #434141d9;
}
.EmptyError{
    font-size: x-large;
    font-weight: 700;
    color: #434141d9;
}
.ExplanationOfBeingEmpty{
    font-size: larger;
    font-weight: 800;
}
.list-Items{
    list-style-type: none;
    margin-top: 100px;
    margin-bottom: 100px;
}
.taskItem{
    border-radius: 20px;
    padding: 48px 17px;
    /* margin-top: 24px; */
    margin-bottom: 40px;
    background-color: #ffffff;
    position: relative;
    word-break: break-word;
    width: 36rem;
}
.time{
  display: flex;
  justify-content: left;
}
.title{
  font-weight: bold;
  font-size: large;
  padding-right: 14px;
}
.task{
  font-size: 22px;
}
.Icons{
  display: flex;
  justify-content: left;
  margin-top: 10px;
}
.checkIcon{
  color:#000000;
  cursor: pointer;
  font-weight: bold;
  margin-left: 10px;
}
.checkIcon:hover{
  color: #6200ff;
}
.deleteIcon{
  color:#000000;
  cursor: pointer;
  font-weight: bold;
}
.deleteIcon:hover{
  color: #6200ff;
}

.doneTask {
  background-color:#b6cce0;
  text-decoration-line: line-through;
}